.sleekslider {
  width: 100%;
  height: 600px;
  position: relative;
  display: block;
  overflow: hidden;
}

.sleekslider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1;
  content: "";
}

.sleekslider .slide.active { z-index: 3; }

.sleekslider .bg-1 { background-image: url("../images/virtual-workspace.jpg"); }

.sleekslider .bg-2 { background-image: url("../images/women.jpg"); }

.sleekslider .bg-3 { background-image: url("3.jpg"); }

.sleekslider .bg-4 { background-image: url("4.jpg"); }

.sleekslider .bg-5 { background-image: url("5.jpg"); }

.sleekslider .tab-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sleekslider .slide-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.sleekslider .slide-content {
  z-index: 50;
  position: absolute;
  bottom: 30%;
  left: 0;
  padding: 0 20px;
}