.nav-pills-custom>li>a {
	color: lightgrey;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover {
	background: none;
	color: grey;
}

.panel-custom>.panel-heading {
	background: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #B98273;
}
.form-control-nav{
	background-color:#F5F5F5;
  border: #B98273 1px;
	border-radius:15px;
}
body{
	background-color: #f1f1ef;
}
.navbar-default .navbar-collapse, .navbar-default{
background-color: #F7E1D9;
}
.panel-footer{
	background-color: #665e5e;
}
.well{
	background-color: #665e5e;
}
a{
	color:#B98273;
}
div.panel-heading{
	padding-top:15px;
	padding-bottom: 0px;
}
.form-control-feedback{
	line-height:27px;
}
.panel-info{
	border:1px lightgrey solid;
}


